.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}


:global(.navbar__items--right .navbar__item.header-github-link) {
  display: flex;
  align-items: center;
  background: url("/img/github.svg") 0 center / 20px 20px no-repeat;
  padding: 0.2rem 0 0.2rem 1.8rem;
  font-size: 15px;

  /* needed for mobile, when font-size: 0 */
  height: 32px;
}




@media screen and (max-width: 405px) {
  :global(.navbar__item.header-github-link) {
    display: none;
  }
}

:global(html[data-theme="light"] .navbar__item.header-github-link ) {
  background: url("/img/github.svg") 0 center / 20px 20px no-repeat;
}


:global(html[data-theme="light"] .navbar__item.header-github-link ) {
  background: url("/img/github.svg") 0 center / 20px 20px no-repeat;
}



